@keyframes slideInFromBottom {
	from {
		opacity: 0;
		transform: translateY(5%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.page-switch-horizontal-enter-active {
	animation: slideInFromBottom var(--td-transition);
}
