// overlayScrollbars
[data-overlayscrollbars-viewport] {
	position: initial !important;
}

.os-theme-dark {
	--os-size: var(--td-comp-paddingLR-m);
	--os-padding-perpendicular: 3px;
	--os-padding-axis: 3px;
	--os-handle-bg: var(--td-scrollbar-color);
	--os-handle-bg-hover: var(--td-scrollbar-hover-color);
	--os-handle-bg-active: var(--td-scrollbar-hover-color);
}

// button
.t-button.t-size-full-width {
	gap: var(--td-comp-margin-s) !important;
}

// dialog
.t-dialog {
	padding: 0 !important;
	overflow: hidden !important;

	&__header {
		padding: var(--td-comp-paddingLR-l) !important;
	}

	&__body {
		padding: 0 var(--td-comp-paddingLR-l) var(--td-comp-paddingLR-l) var(--td-comp-paddingLR-l) !important;

		&__icon,
		&--icon {
			padding: 0 var(--td-comp-paddingLR-l) var(--td-comp-paddingLR-l) var(--td-comp-paddingLR-l) !important;
		}
	}

	&__footer {
		border-top: 1px solid var(--td-component-stroke) !important;
		padding: var(--td-comp-paddingLR-l) !important;
		background-color: var(--td-bg-color-secondarycontainer) !important;
	}
}

// animate.css
.animate__animated.animate__faster {
	-webkit-animation-duration: calc(0.3s / 2) !important;
	animation-duration: calc(0.3s / 2) !important;
}
