// overlayScrollbars
[data-overlayscrollbars-viewport] {
	position: initial !important;
}

.os-theme-dark {
	--os-size: var(--td-comp-paddingLR-m) !important;
	--os-padding-perpendicular: 3px !important;
	--os-padding-axis: 3px !important;
	--os-handle-bg: var(--td-scrollbar-color) !important;
	--os-handle-bg-hover: var(--td-scrollbar-hover-color) !important;
	--os-handle-bg-active: var(--td-scrollbar-hover-color) !important;
}

// button
.t-button {
	gap: var(--td-comp-margin-xs) !important;
}

// dialog
.t-dialog {
	padding: 0 !important;
	overflow: hidden !important;

	&__header {
		padding: var(--td-comp-paddingLR-l) !important;
	}

	&__body {
		padding: 0 var(--td-comp-paddingLR-l) var(--td-comp-paddingLR-l) var(--td-comp-paddingLR-l) !important;

		&__icon,
		&--icon {
			padding: 0 var(--td-comp-paddingLR-l) var(--td-comp-paddingLR-l) var(--td-comp-paddingLR-l) !important;
		}
	}

	&__footer {
		border-top: 1px solid var(--td-component-stroke) !important;
		padding: var(--td-comp-paddingLR-l) !important;
		background-color: var(--td-bg-color-secondarycontainer) !important;
	}
}

// animate.css
.animate__animated.animate__faster {
	-webkit-animation-duration: 0.15s !important;
	animation-duration: 0.15s !important;
}
