@import './var.scss';
@import './common.scss';
@import './component.scss';
@import './font.scss';
@import 'tdesign-vue-next/dist/reset.css';
@import 'tdesign-vue-next/es/style/index.css';

html,
body,
#app {
	height: 100vh;
	width: 100vw;
	cursor: default;
	overflow: hidden;
	user-select: none;
	font-family: var(--td-font-family);
}

::-webkit-scrollbar {
	display: none;
}

::view-transition-new(root) {
	animation-duration: 0.2s;
	animation: none;
}
::view-transition-old(root) {
	animation-duration: 0.2s;
	display: none;
}
