:root,
:root[theme-mode='light'] {
	--td-transition: 0.2s cubic-bezier(0.38, 0, 0.24, 1);
	--window-action-height: 30px;
	--td-font-family: HarmonyOS Sans, PingFang SC, Microsoft YaHei, Arial Regular;
	--td-bg-color-container-opacity: rgba(255, 255, 255, 0.6);
}

:root[theme-mode='dark'] {
	--td-bg-color-container-opacity: rgba(36, 36, 36, 0.6);
}
